@model ERP.Core.Models.HR.HR_LeaveRequest
@{
    Layout = null;
}
<div class="modal-dialog modal-dialog-centered modal-lg" role="dialog" id="modalClose" >
    <div class="modal-content ">
        @using (Html.BeginForm("Create", "EmpIntimation", FormMethod.Post, new { id = "Intimationform" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(a => a.EmployeeId)
            @Html.HiddenFor(a => a.EmployeeNo)
            @Html.HiddenFor(a => a.companyID)
            @Html.HiddenFor(a => a.CompanyKey)
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Intimation</h5>
                <button type="button" class="close" id="btnClose" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-lg-3">
                        <label>Intimation NO:</label>
                        @Html.TextBoxFor(a => a.LeaveRequestMasterID, new { @type = "text", @class = "form-control", @id = "LeaveRequestMasterID", @name = "LeaveRequestMasterID" })
                        @Html.ValidationMessageFor(a => a.LeaveRequestMasterID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-3">
                        <label>ID:</label>
                        @Html.TextBoxFor(a => a.HrEmployee.Id, new { @type = "text", @class = "form-control", @id = "ID", @name = "ID" })
                        @Html.ValidationMessageFor(a => a.HrEmployee.Id, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-3">
                        <label>Name:</label>
                        @Html.TextBoxFor(a => a.HrEmployee.FirstName, new { @type = "text", @class = "form-control", @id = "EmpName", @name = "EmpName" })
                        @Html.ValidationMessageFor(a => a.HrEmployee.FirstName, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-lg-3">
                        <label class="">Department:</label>
                        @Html.TextBoxFor(a => a.HrEmployee.HrDepartment.Title, new { @type = "text", @class = "form-control", @id = "EmployeeNo", @name = "EmployeeNo" })
                        @Html.ValidationMessageFor(a => a.EmployeeNo, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-3">
                        <label class="">Designation:</label>
                        @Html.TextBoxFor(a => a.HrEmployee.HrDesignation.Description, new { @type = "text", @class = "form-control", @id = "Designation", @name = "Designation" })
                        @Html.ValidationMessageFor(a => a.HrEmployee.HrDesignation.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-3">
                        <label class="">Date From:</label>
                        @Html.TextBoxFor(a => a.LeaveRequiredFrom, new { @type = "date", @class = "form-control", @id = "LeaveRequiredFrom", @name = "LeaveRequiredFrom" })
                        @Html.ValidationMessageFor(a => a.LeaveRequiredFrom, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-3">
                        <label class="">Date To:</label>
                        @Html.TextBoxFor(a => a.LeaveRequestedTo, new { @type = "date", @class = "form-control", @id = "LeaveRequestedTo", @name = "LeaveRequestedTo" })
                        @Html.ValidationMessageFor(a => a.LeaveRequestedTo, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-3">
                        <label class="">Type of Intimation:</label>
                        @Html.DropDownListFor(a => a.ApplicationType,
                        new List<SelectListItem>
                        {
                          new SelectListItem() {Text = "Casual Leav", Value="C"},
                          new SelectListItem() {Text = "Mediacal Leave", Value="M"},
                          new SelectListItem() {Text = "Visit", Value="V"}
                        }, "-- Select Type --", new { @type = "text", @class = "form-control", @placeholder = "--Select Type--" })
                    </div>
                    <div class="col-lg-6">
                        <label class="">Reason:</label>
                        @Html.TextAreaFor(a => a.Reason, new { @type = "text", @class = "form-control", @rows = "2", @cols = "20", @id = "Reason", @name = "Reason" })
                        @Html.ValidationMessageFor(a => a.Reason, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="SubmitIntimationForm()">
                    <span>
                        <i class="fa fa-save"></i>
                        <span>Save</span>
                    </span>
                </button>
                <button type="button" class="btn btn-warning" id="btnCancel">
                    <span>
                        <i class="flaticon-cancel"></i>
                        <span>Cancel</span>
                    </span>
                </button>
            </div>
        }
    </div>
</div>
<script>
    $("#btnClose").click(function () {
        $('#IntimationCreateModal').modal('hide');
    });
    $("#btnCancel").click(function () {
        $('#IntimationCreateModal').modal('hide');
    });
</script>