@model ERP.Core.Models.HR.HR_Allowances
@{
    Layout = null;
}
<div class="modal-dialog modal-dialog-centered" role="document" id="AllowanceModal">
    <div class="modal-content ">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Allowance</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        @using (Html.BeginForm("Add", "Allowance", FormMethod.Post, new { id = "AllowanceForm" }))
        {
            @Html.HiddenFor(model => model.CreatedOn);
            @Html.HiddenFor(model => model.CreatedBy);
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-lg-6">
                        <label>Allowance ID:</label>
                        @Html.TextBoxFor(a => a.AllowanceID, new { @class = "form-control", @id = "allowanceId" })
                        @Html.ValidationMessageFor(a => a.AllowanceID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        <label>Type:</label>
                        @Html.TextBoxFor(a => a.Type, new { @class = "form-control", @id = "allowanceType" })
                        @Html.ValidationMessageFor(a => a.Type, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        <label>Sub-Type:</label>
                        @Html.TextBoxFor(a => a.SubType, new { @class = "form-control", @id = "allowanceSubtype" })
                        @Html.ValidationMessageFor(a => a.SubType, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        <label>Tax Status:</label>
                        @Html.TextBoxFor(a => a.TaxStatus, new { @class = "form-control", @id = "allowanceTaxtstatus" })
                        @Html.ValidationMessageFor(a => a.TaxStatus, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-12">
                        <label>Apply On:</label>
                        @Html.TextBoxFor(a => a.ApplyOn, new { @class = "form-control", @id = "allowanceTaxtstatus" })
                        @Html.ValidationMessageFor(a => a.ApplyOn, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-12">
                        <label>Description:</label>
                        @Html.TextBoxFor(a => a.Description, new { @class = "form-control", @id = "Description" })
                        @Html.ValidationMessageFor(a => a.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="SubmitAllowanceForm()">
                    <span>
                        <i class="fa fa-save"></i>
                        <span>Save</span>
                    </span>
                </button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">
                    <span>
                        <i class="flaticon-cancel"></i>
                        <span>Cancel</span>
                    </span>
                </button>
            </div>
        }

    </div>
</div>
<script src="~/Content/VigorJs/HR/Allowance/CreateOrUpdate.js"></script>