@model ERP.Core.Models.HR.HR_MonthlyAttendance
@{
    Layout = null;
}
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content ">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Time In Time Out Entry Form</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @using (Html.BeginForm("AttendanceTime", "AttendanceSheet", FormMethod.Post))
        {
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-lg-6">
                        <label>For the Month:</label>
                        @Html.TextBoxFor(a => a.Forthemonth, new { @type = "text", @class = "form-control", @id = "LoanAdvanceID", @name = "LoanAdvanceID", @readonly = "readonly" })
                        @Html.ValidationMessageFor(a => a.Forthemonth, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        <label>For the Year:</label>
                        @Html.TextBoxFor(a => a.Fortheyear, new { @type = "text", @class = "form-control", @id = "LoanAdvanceID", @name = "LoanAdvanceID", @readonly = "readonly" })
                        @Html.ValidationMessageFor(a => a.Fortheyear, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        <label>ID:</label>
                        @Html.TextBoxFor(a => a.EmployeeAttendanceId, new { @type = "text", @class = "form-control", @id = "LoanAdvanceID", @name = "LoanAdvanceID", @readonly = "readonly" })
                        @Html.ValidationMessageFor(a => a.EmployeeAttendanceId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        <label>Name:</label>
                        @Html.TextBoxFor(a => a.HrEmployee.FirstName, new { @type = "text", @class = "form-control", @id = "LoanAdvanceID", @name = "LoanAdvanceID", @readonly = "readonly" })
                        @Html.ValidationMessageFor(a => a.HrEmployee.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        <label>Department:</label>
                        @Html.TextBoxFor(a => a.HrEmployee.HrDepartment.Title, new { @type = "text", @class = "form-control", @id = "LoanAdvanceID", @name = "LoanAdvanceID", @readonly = "readonly" })
                        @Html.ValidationMessageFor(a => a.HrEmployee.HrDepartment.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        <label>Designation:</label>
                        @Html.TextBoxFor(a => a.HrEmployee.HrDesignation.Description, new { @type = "text", @class = "form-control", @id = "LoanAdvanceID", @name = "LoanAdvanceID", @readonly = "readonly" })
                        @Html.ValidationMessageFor(a => a.HrEmployee.HrDesignation.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        <label>Dated:</label>
                        @Html.TextBoxFor(a => a.ValidDateStart, new { @type = "date", @class = "form-control", @id = "LoanAdvanceID", @name = "LoanAdvanceID", @readonly = "readonly" })
                        @Html.ValidationMessageFor(a => a.ValidDateStart, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-12">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th colspan="2">Time In</th>
                                    <th colspan="2">Time Out</th>
                                </tr>
                                <tr>
                                    <td><input type="number" class="form-control" /></td>
                                    <td><input type="number" class="form-control" /></td>
                                    <td><input type="number" class="form-control" /></td>
                                    <td><input type="number" class="form-control" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" onclick="">
                    <span>
                        <i class="fa fa-save"></i>
                        <span>Save</span>
                    </span>
                </button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">
                    <span>
                        <i class="flaticon-cancel"></i>
                        <span>Cancel</span>
                    </span>
                </button>
            </div>
        }
    </div>
</div>