@model ERP.Core.Models.HR.ViewModels.MonthAttendance_VM
@{
    Layout = null;
}
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content ">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Attendance</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @using (Html.BeginForm("ChangeStatus", "AttendanceSheet", FormMethod.Post, new { id = "ChangeStatusForm" }))
        {
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-lg-6">
                        <label>For the Month:</label>
                        @Html.HiddenFor(model => model.DayNumber)
                        @Html.TextBoxFor(a => a.Forthemonth, new { @type = "text", @class = "form-control", @id = "LoanAdvanceID", @name = "LoanAdvanceID", @readonly = "readonly" })
                        @Html.ValidationMessageFor(a => a.Forthemonth, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        <label>For the Year:</label>
                        @Html.TextBoxFor(a => a.Fortheyear, new { @type = "text", @class = "form-control", @id = "LoanAdvanceID", @name = "LoanAdvanceID", @readonly = "readonly" })
                        @Html.ValidationMessageFor(a => a.Fortheyear, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        <label>ID:</label>
                        @Html.TextBoxFor(a => a.EmployeeAttendanceId, new { @type = "text", @class = "form-control", @id = "LoanAdvanceID", @name = "LoanAdvanceID", @readonly = "readonly" })
                        @Html.ValidationMessageFor(a => a.EmployeeAttendanceId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        <label>Name:</label>
                        @Html.TextBoxFor(a => a.EmployeeFirstName, new { @type = "text", @class = "form-control", @id = "LoanAdvanceID", @name = "LoanAdvanceID", @readonly = "readonly" })
                        @Html.ValidationMessageFor(a => a.EmployeeFirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        <label>Department:</label>
                        @Html.TextBoxFor(a => a.EmployeeDepartmentName, new { @type = "text", @class = "form-control", @id = "LoanAdvanceID", @name = "LoanAdvanceID", @readonly = "readonly" })
                        @Html.ValidationMessageFor(a => a.EmployeeDepartmentName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        <label>Designation:</label>
                        @Html.TextBoxFor(a => a.EmployeeDesignation, new { @type = "text", @class = "form-control", @id = "LoanAdvanceID", @name = "LoanAdvanceID", @readonly = "readonly" })
                        @Html.ValidationMessageFor(a => a.EmployeeDesignation, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        <label>Dated:</label>
                        @Html.TextBoxFor(a => a.ValidDateStart,  "{0:d MMM yyyy}" ,new {  @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(a => a.ValidDateStart, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        <label>Status:</label>
                        @Html.DropDownList("status", null, htmlAttributes: new { @class = "form-control", @required = "Required" })
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="SubmitChangeStatusForm()">
                    <span>
                        <i class="fa fa-save"></i>
                        <span>Save</span>
                    </span>
                </button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">
                    <span>
                        <i class="flaticon-cancel"></i>
                        <span>Cancel</span>
                    </span>
                </button>
            </div>
        }
    </div>
</div>